.bannerimg1{
    background-color: #000;
    height: 300px;
    color: #fff;
    width: 100%;
    background-image: url('../public/images/img1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: contain;
}
.bannerimg2{
    background-color: #000;
    height: 300px;
    color: #fff;
    width: 100%;
    background-image: url('../public/images/img3.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: contain;
}
.bannerimg3{
    background-color: #000;
    height: 300px;
    color: #fff;
    width: 100%;
    background-image: url('../public/images/img6.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: contain;
}

